###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=CHANGE_ME_TO_RANDOM_STRING
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:@127.0.0.1:3306/feelsafe?serverVersion=10.4.32-MariaDB&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=gmail://YOUR_EMAIL@gmail.com:YOUR_APP_PASSWORD@default
###< symfony/mailer ###

ADMIN_SECRET_CODE=YOUR_ADMIN_CODE
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY

###> knpuniversity/oauth2-client-bundle ###
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
###< knpuniversity/oauth2-client-bundle ###